
header {
  padding: 50px 20px;
}
#emailNav {
  padding: 0 20px;
}
/* Email Table */
.body {
  max-width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Email Contents */
.hidden {
  display: none;
}
