header, main {
  font-family: 'Catamaran', sans-serif;
}
header {
  padding: 10px 20px;
  background-color: #EBF2F4;
  border-bottom: 1px solid #ccc;
}
main {
  margin: 25px 0;
}
#emailNav {
  padding: 0 20px;
}
/* Email Table */
#emailInbox {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tableRow {
  padding: 10px 10px;
  background-color: #EBF2F4;
}
.tableRow:nth-child(n+2) {
  border-top: 1px solid #ccc;
}
.activeRow {
  background-color: #fff;
  border-left: 4px solid #3066BE;
}
.date {
  display: inline;
  padding-right: 25px;
}
.sender {
  display: inline;
  padding-right: 25px;
}
.subject {
  display: inline;
  padding-right: 25px;
}
.body {
  padding: 10px 0;
}
/* Email Contents */
.hidden {
  display: none;
}
